<!-- /********************************************************************************* 
 * * ITE5315 – Project 
 * * I declare that this assignment is my own work in accordance with Humber Academic Policy. 
 * * No part of this assignment has been copied manually or electronically from any other source 
 * * (including web sites) or distributed to other students. 
 * * * Group member Name: ABHAY & Prarabdha Student IDs: N01581911 & N01578947 Date: 16th April 2024 
 * *********************************************************************************/ -->
<div class="container-fluid fixed-bottom nav-bg">
  <footer class="p-2">
    <p class="m-0 text-center text-black-50 fs-4 fw-light">© 2024 ABHAY & PRARABDHA</p>
  </footer>
</div>