<!-- /********************************************************************************* 
 * * ITE5315 – Project 
 * * I declare that this assignment is my own work in accordance with Humber Academic Policy. 
 * * No part of this assignment has been copied manually or electronically from any other source 
 * * (including web sites) or distributed to other students. 
 * * * Group member Name: ABHAY & Prarabdha Student IDs: N01581911 & N01578947 Date: 16th April 2024 
 * *********************************************************************************/ -->
<section>
    <div class="container-fluid">
        <div class="row align-items-center justify-content- center">
            <div class="sign-center justify-content-center d-flex">
                <div class="w-35">
                    <!-- Registration form with formGroup Directive for Reactive Forms -->
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="p-4 form-box">
                        <h1 class="mb-3 text-center h3 fw-normal">
                            Create an account and elevate your experience!
                        </h1>

                        <!-- Name Input -->
                        <div class="mb-4 form-floating">
                            <input type="text" class="form-control" id="nameInput" formControlName="name"
                                placeholder="Name">
                            <label for="nameInput">Name</label>
                            <!-- Error Message for Name -->
                            <div *ngIf="registerForm.controls['name'].invalid && registerForm.controls['name'].touched"
                                class="text-danger">
                                Please enter name.
                            </div>
                        </div>

                        <!-- Email Input -->
                        <div class="mb-4 form-floating">
                            <input type="email" class="form-control" id="emailInput" formControlName="email"
                                placeholder="Email">
                            <label for="emailInput">Email</label>
                            <!-- Error Message for Email -->
                            <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched"
                                class="text-danger">
                                Please enter a valid email.
                            </div>
                        </div>

                        <!-- Password Input -->
                        <div class="mb-4 form-floating">
                            <input type="password" class="form-control" id="passwordInput" formControlName="password"
                                placeholder="Password">
                            <label for="passwordInput">Password</label>
                            <!-- Error Message for Password -->
                            <div *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched"
                                class="text-danger">
                                Password is required.
                            </div>
                        </div>

                        <!-- Confirm Password Input -->
                        <div class="mb-5 form-floating">
                            <input type="password" class="form-control" id="confirmPasswordInput"
                                formControlName="confirmPassword" placeholder="Confirm Password">
                            <label for="confirmPasswordInput">Confirm Password</label>
                            <!-- Error Message for Confirm Password -->
                            <div *ngIf="registerForm.controls['confirmPassword'].invalid && registerForm.controls['confirmPassword'].touched"
                                class="text-danger">
                                Confirm Password is required
                            </div>
                            <div *ngIf="registerForm.hasError('passwordMismatch')" class="text-danger">
                                Passwords do not match.
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="d-grid">
                            <button class="btn btn-outline-secondary btn-lg" type="submit">
                                <i class="pi pi-user-plus" style="font-size:18px"></i>
                                Sign Up
                            </button>
                        </div>

                        <!-- Login Redirect Link -->
                        <div class="mt-3 text-center">
                            <p class="mb-0 fw-light">Already have an account?
                                <button type="button" (click)="navigate()" class="btn btn-secondary-outline btn-link link-dark text-decoration-none">Log
                                    In</button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>